<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Maschile">
    <table mat-table [dataSource]="marcatoriM" class="mat-elevation-z8">

      <!-- Name Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let marcatore"> {{marcatore.nome}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="gruppo">
        <th mat-header-cell *matHeaderCellDef> Gruppo </th>
        <td mat-cell *matCellDef="let marcatore"> {{marcatore.gruppo}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="gol">
        <th mat-header-cell *matHeaderCellDef> Gol </th>
        <td mat-cell *matCellDef="let marcatore"> {{marcatore.gol}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-tab>
  <mat-tab label="Femminile">
    <table mat-table [dataSource]="marcatoriF" class="mat-elevation-z8">

      <!-- Name Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let marcatore"> {{marcatore.nome}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="gruppo">
        <th mat-header-cell *matHeaderCellDef> Gruppo </th>
        <td mat-cell *matCellDef="let marcatore"> {{marcatore.gruppo}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="gol">
        <th mat-header-cell *matHeaderCellDef> Gol </th>
        <td mat-cell *matCellDef="let marcatore"> {{marcatore.gol}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-tab>
</mat-tab-group>

