<mat-accordion>
  <mat-expansion-panel *ngFor="let partita of partite | async" [class.selected]="partita === selezionata" (click)="onSelect(partita)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{partita.squadraUno}} - {{partita.squadraDue}}
      </mat-panel-title>
      <mat-panel-description>
        {{partita.golSquadraUno}}:{{partita.golSquadraDue}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-dettaglio [partita]="selezionata"></app-dettaglio>
  </mat-expansion-panel>
</mat-accordion>
