<mat-accordion class="example-headers-align">
  <mat-expansion-panel *ngFor="let partita of partite | async" [class.selected]="partita === selezionata" (click)="onSelect(partita)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{partita.squadraUno}} - {{partita.squadraDue}}
      </mat-panel-title>
      <mat-panel-description>
        {{partita.golSquadraUno}}:{{partita.golSquadraDue}}
        <span *ngIf="isToday(partita.data); else finita" class="live-event">live</span>
        <ng-template #finita><span class="ended-event">terminata</span></ng-template>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-dettaglio [partita]="selezionata"></app-dettaglio>
  </mat-expansion-panel>
</mat-accordion>
