.example-headers-align .mat-expansion-panel-header-title {
  flex-basis: 30px;
}

.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
  justify-content: space-between;
  align-items: center;
}

.ended-event {
  color: gray;
  border: solid thin gray;
}

.preview-event {
  color: orange;
  border: solid thin orange;
}

.live-event {
  color: red;
  border: solid thin red;
  animation:blinkingText 1s infinite alternate;
  -webkit-animation:blinkingText 0.8s infinite alternate;
}

.event {
   font-size: x-small;
   padding: 3px 5px 3px 5px;
 }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes blinkingText {
  0%   {color:red; border-color: red;}
  100% {color:transparent; border-color: transparent;}
}

/* Standard syntax */
@keyframes blinkingText {
  0%   {color:red; border-color: red;}
  100% {color:transparent; border-color: transparent;}
}
